# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=H4p2prGVUpLb2IoK7XyB4Q==,b+GFNBvVK2srdi2lmCCn1A==,tqrYfwpgD8BqwWVelO5HtA==,Zadyo61g88fEMNY27cDmlg==
API_TOKEN_SALT=bmhx/3S4AEYoSfpap/S1dg==
ADMIN_JWT_SECRET=dn4kz/fPaMFWEQbOsUqbYQ==
TRANSFER_TOKEN_SALT=oNDmo2PlizokA4OQICn3WA==
ENCRYPTION_KEY=ufrUDy8HO8nOQgBoYo5aSw==

# Database
DATABASE_URL=postgresql://neondb_owner:npg_WOEmiLq65lGS@ep-tiny-band-a1r6b2h3-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT=60000

# Cloudinary
CLOUDINARY_NAME=dmfnwawuu
CLOUDINARY_KEY=635713168717846
CLOUDINARY_SECRET=798WCd3hJ_SB6HasrJCgH7mIJbY
CLOUDINARY_FOLDER=DearJulius
JWT_SECRET=DcoELsNgOc/fj1s+ztXFSg==